
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

[data-v-93d142db] .el-tree{overflow:hidden}[data-v-93d142db] .el-tree-node__content{height:auto;min-height:50px;border-bottom:1px solid #f1f1f1}.custom-tree-node[data-v-93d142db]{display:flex;flex:1;align-items:center;justify-content:space-between;padding-right:8px;font-size:14px}.custom-tree-node .menu[data-v-93d142db]{flex-shrink:0;width:20%}.custom-tree-node .permission[data-v-93d142db]{flex-shrink:0;width:700px;min-height:50px;padding:0 10px;text-align:left;border-left:1px solid #f1f1f1}.custom-tree-node .permission[data-v-93d142db]{display:flex;align-items:center;justify-content:start}.custom-tree-node .permission .permissions[data-v-93d142db]{padding:1rem 0}.custom-tree-node .permission .permissions[data-v-93d142db] .el-checkbox-group{display:flex;flex-wrap:wrap}.custom-tree-node .permission .permissions[data-v-93d142db] .el-checkbox__label{min-width:150px}
