
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";[data-v-94097498] .el-tag.el-tag--info{background:#e7f3ff;border-radius:4px;font-size:14px;font-weight:400;font-size:12px;color:#409eff;line-height:14px}[data-v-94097498] .el-select__selection{margin-left:-.5rem}[data-v-94097498] .el-tag.el-tag--info .el-tag__close{color:#409eff}.prefix-class[data-v-94097498]{display:flex;justify-content:center;align-items:center;color:#409eff;cursor:pointer}.icon-class[data-v-94097498]{display:flex;justify-content:center;align-items:center}[data-v-94097498] .el-form-item.asterisk-left{align-items:center}
