
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";[data-v-c5b67b41] .el-cascader{width:100%}.user[data-v-c5b67b41]{display:flex;align-items:center;justify-content:flex-start;margin-bottom:1rem;margin-left:1.875rem}.user .center[data-v-c5b67b41]{display:flex;width:12rem}.user .center span[data-v-c5b67b41]{width:5.3125rem}.user .centers[data-v-c5b67b41]{display:flex;width:15rem}.user .centers span[data-v-c5b67b41]{width:5.3125rem}.user .mr[data-v-c5b67b41]{display:flex;margin-right:1.5625rem}.user .mr[data-v-c5b67b41]:nth-child(4){margin-right:0}[data-v-c5b67b41] .el-checkbox{order:1;display:flex;flex-direction:row-reverse}[data-v-c5b67b41] .el-checkbox .el-checkbox__label{order:0;margin-left:0;margin-right:10px}[data-v-c5b67b41] .el-tag{width:5rem}[data-v-c5b67b41] .el-tag.el-tag--info{background-color:#ecf5ff;color:#409eff;--el-tag-hover-color: var(--el-color-primary)}
