
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";[data-v-e9bed958] .el-dialog__body{min-height:12.5rem!important}.fontColor[data-v-e9bed958]{color:#333!important}[data-v-e9bed958] .el-form label{color:#333}[data-v-e9bed958] .userClass .el-tree-node.is-checked>.el-tree-node__content{background:#e3f1ff;font-weight:400;font-size:14px;color:#409eff}[data-v-e9bed958] .userClass .el-tree-node{margin-top:8px}[data-v-e9bed958] .radiusInput .el-input__wrapper{height:2rem;border-radius:20px!important;padding:5px!important}.radiusInput .el-input__wrapper[data-v-e9bed958]{border-radius:8px!important;border:1px solid #ccc!important;padding:5px!important}.radiusInput .el-input__inner[data-v-e9bed958]{padding:10px!important;border-radius:6px!important}
