
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.el-card[data-v-768ba7d6]{margin:10px 0;padding-top:10px}.card-header[data-v-768ba7d6]{display:flex;justify-content:space-between;align-items:center!important}.card-header .leftTitle .spanStatus[data-v-768ba7d6]{width:60px!important;height:20px!important;background:var(--el-color-primary);color:var(--el-color-white);padding:0 8px;font-size:.875rem;border-radius:3.125rem}.card-header .rightStatus[data-v-768ba7d6]{position:relative}.card-header .rightStatus>div[data-v-768ba7d6]{width:100px;text-align:center;border-radius:.3rem;color:#fff;font-size:20.8px}.card-header .rightStatus>div.isOnlineTrue[data-v-768ba7d6]{background-color:#03c239}.card-header .rightStatus>div.isOnlineFalse[data-v-768ba7d6]{background-color:#d8261a}.open[data-v-768ba7d6]{color:#409eff}.close[data-v-768ba7d6]{color:#e2e2e2}
