
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.eldivider[data-v-afd03a22]{font-size:20px;font-weight:700}.eldividers[data-v-afd03a22]{font-size:30px;text-align:center;color:#52b0cb}[data-v-afd03a22] .rightspan{text-align:right;font-size:12px;margin-right:20px}.fineBom[data-v-afd03a22]{text-align:left!important;color:#333;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.hoverSvg[data-v-afd03a22]{display:flex;align-items:center}.svg[data-v-afd03a22]{width:14px;height:14px;margin-left:5px}
