
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.status[data-v-2a70ff1f]{position:relative;width:8rem}.status>div[data-v-2a70ff1f]{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:1.3rem}.status>div[data-v-2a70ff1f]:nth-child(1){font-size:8rem}[data-v-2a70ff1f] .el-divider{margin:20px 0}[data-v-2a70ff1f] .el-card{margin:10px 0}[data-v-2a70ff1f] .card-header{display:flex;justify-content:space-between;align-items:end}[data-v-2a70ff1f] .el-drawer__header{border-bottom:1px solid #aaa!important}[data-v-2a70ff1f] .el-row,[data-v-2a70ff1f] .el-table{width:94%!important;margin:auto!important}
