
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";.copySvg[data-v-cd66feaa]{width:20px;height:20px;margin-left:5px;cursor:pointer}.container[data-v-cd66feaa]{position:relative;width:21px}.success-icon[data-v-cd66feaa]{position:absolute;top:50%;left:120%;transform:translate(-50%,-50%);font-size:24px;color:green;opacity:1;animation:floatUp-cd66feaa 1s ease forwards;z-index:99999;cursor:pointer}@keyframes floatUp-cd66feaa{0%{opacity:1}to{opacity:0}}
