
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.titleClass[data-v-c29a5f12]{font-family:Source Han Sans CN,Source Han Sans CN;font-weight:500;font-size:18px;color:#333;line-height:21px;text-align:left;font-style:normal;text-transform:none;margin-bottom:16px}.radius[data-v-c29a5f12]{width:100%;min-height:160px;margin-top:1.25rem;border:.0625rem solid var(--el-border-color);border-radius:0}.isNone[data-v-c29a5f12]{display:none}[data-v-c29a5f12] .markdown-body{overflow:hidden}
