
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

[data-v-eac7e406] .el-drawer,[data-v-eac7e406] .el-drawer__body,[data-v-eac7e406] .el-tabs.el-tabs--left{overflow:visible!important}.flex-c[data-v-eac7e406],.copyId[data-v-eac7e406]{display:flex;justify-content:start;align-items:center;width:100%}.flex-c>div[data-v-eac7e406]:nth-of-type(1),.copyId>div[data-v-eac7e406]:nth-of-type(1){width:calc(100% - 25px);flex-shrink:0}.flex-c .edit[data-v-eac7e406],.copyId .edit[data-v-eac7e406]{width:20px;height:20px;margin-left:5px;flex-shrink:0;display:none;cursor:pointer}.flex-c .current[data-v-eac7e406],.copyId .current[data-v-eac7e406]{display:block!important}.copyId[data-v-eac7e406]{justify-content:center}.copyId .copy[data-v-eac7e406]{width:20px}.copyId .id[data-v-eac7e406]{width:auto!important;max-width:calc(100% - 25px)!important}
