
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";.item[data-v-0249a0ac]{border:2px dashed #d3d3d3;display:flex;justify-content:space-between;align-items:start}.item .left[data-v-0249a0ac]{padding:3rem;border-right:2px dashed #d3d3d3;width:65%;position:relative}.item .left[data-v-0249a0ac]:after{position:absolute;right:0;top:1rem;content:"预览→";color:#fff;background-color:#0b6ebd;transform:translate(50%)}.item .right[data-v-0249a0ac]{padding:3rem;width:35%}
