
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.border[data-v-72c0ef5b]{display:flex;align-items:center;width:33%;height:2.5625rem;margin:0;border:1px solid #ebeef5}.pp[data-v-72c0ef5b]{display:flex;justify-content:space-around;align-items:center;width:36%;height:100%;font-size:14px;color:#606266;background-color:#fafafa}.neip[data-v-72c0ef5b]{display:flex;justify-content:space-around;align-items:center;width:63%;height:100%;border-left:1px solid #ebeef5;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#606266}
