
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.eldivider[data-v-02934ed9]{font-size:20px;font-weight:700}.eldividers[data-v-02934ed9]{font-size:30px;text-align:center;color:#52b0cb}[data-v-02934ed9] .rightspan{text-align:right;font-size:12px;margin-right:20px}
