
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";.el-step__title[data-v-8db2f812]{text-align:center}.one[data-v-8db2f812]{position:relative}.started[data-v-8db2f812]{position:absolute;top:49%;left:7%;z-index:9999;content:"已开通";transform:translate(-50%,-50%)}[data-v-8db2f812] .bytemd-fullscreen{z-index:2000}[data-v-8db2f812] .el-card{margin:10px 0}[data-v-8db2f812] .editor{width:100%}table[data-v-8db2f812]{width:100%;border-collapse:collapse}th[data-v-8db2f812],td[data-v-8db2f812]{padding:10px;border:1px solid #ccc;text-align:center}th[data-v-8db2f812]{width:15%;font-weight:400}tr[data-v-8db2f812]{width:30%}
