
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";.buttonClass[data-v-f96d6cf9]{text-align:center;margin:.75rem;width:100%;height:2rem;font-family:PingFang SC,PingFang SC;font-weight:500;font-size:.875rem;color:#409eff;line-height:16px;background:#f4f8ff;border-radius:4px;border:1px solid #e9eef3}.el-select-dropdown .buttonClass[data-v-f96d6cf9]{width:calc(100% - 24px)}[data-v-f96d6cf9] .el-tag.el-tag--info{background:#e7f3ff;border-radius:4px;font-size:14px;font-weight:400;font-size:12px;color:#409eff;line-height:14px}[data-v-f96d6cf9] .el-select__selection{margin-left:-.5rem}[data-v-f96d6cf9] .el-tag.el-tag--info .el-tag__close{color:#409eff}.prefix-class[data-v-f96d6cf9]{display:flex;justify-content:center;align-items:center;color:#409eff;cursor:pointer}.icon-class[data-v-f96d6cf9]{display:flex;justify-content:center;align-items:center}[data-v-f96d6cf9] .el-form-item.asterisk-left{align-items:center}
