
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";[data-v-55beddab] .el-cascader{width:100%}.user[data-v-55beddab]{display:flex;align-items:center;justify-content:flex-start;margin-bottom:1rem;margin-left:7.0625rem}.user .center[data-v-55beddab]{display:flex;width:13rem}.user .center span[data-v-55beddab]{width:5.3125rem}.user .centers[data-v-55beddab]{display:flex;width:13rem}.user .centers span[data-v-55beddab]{width:5.3125rem}.user .mr[data-v-55beddab]{display:flex;margin-right:20px}.user .mr[data-v-55beddab]:nth-child(5){margin-right:0}[data-v-55beddab] .el-checkbox{order:1;display:flex;flex-direction:row-reverse}[data-v-55beddab] .el-checkbox .el-checkbox__label{order:0;margin-left:0;margin-right:10px}[data-v-55beddab] .el-input-group__append{width:12rem;padding:0;background-color:#fff}[data-v-55beddab] .el-tag{width:5rem}[data-v-55beddab] .el-tag.el-tag--info{background-color:#ecf5ff;color:#409eff;--el-tag-hover-color: var(--el-color-primary)}
