
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

[data-v-d91637f9] .el-divider{margin:20px 0}[data-v-d91637f9] .el-card{margin-bottom:10px}[data-v-d91637f9] .el-row,[data-v-d91637f9] .el-table{width:94%!important;margin:auto!important}.radius[data-v-d91637f9]{border:1px solid var(--el-border-color);border-radius:var(--el-border-radius-base);min-height:6rem;width:100%}
