
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";[data-v-376dbfe3] .userClass .el-tabs__content{height:12.5rem;overflow:auto}.project-name[data-v-376dbfe3]{font-weight:500;font-size:16px;color:#333}.flex-c[data-v-376dbfe3]{display:flex;justify-content:center;align-items:center}.userClass .el-tabs__nav-wrap .el-tabs__item .custom-tab-label[data-v-376dbfe3]{background:#c6c6c6;border-radius:4px;color:#fff;display:inline-block;padding:.3125rem .9375rem}[data-v-376dbfe3] .userClass .el-tree-node.is-checked>.el-tree-node__content{background:#e3f1ff;font-weight:400;font-size:14px;color:#409eff}[data-v-376dbfe3] .userClass .el-tree-node{margin-top:8px}[data-v-376dbfe3] .userClass .el-tabs__active-bar{background-color:transparent!important}[data-v-376dbfe3] .userClass .el-tabs__item{padding:0px 0rem}.userClass .el-tabs__nav-wrap .el-tabs__item.is-active .custom-tab-label[data-v-376dbfe3]{margin-left:2px;border-radius:4px;background:#409eff;background-repeat:no-repeat;background-position:center;background-size:100% 29px}
