
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.header[data-v-faa1ac1d]{display:flex;justify-content:space-between;align-items:center}.red[data-v-faa1ac1d]{color:red}.spot[data-v-faa1ac1d]{display:inline-block;width:var(--sjs-base-unit, var(--base-unit, 8px));height:var(--sjs-base-unit, var(--base-unit, 8px));border-radius:50%;background-color:var(--sjs-general-forecolor, var(--foreground, #161616))}.tooltip>div[data-v-faa1ac1d]{display:flex;align-items:center}.tooltip>div .label[data-v-faa1ac1d]{width:30px;text-align:center}
