
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

@charset "UTF-8";.buttonClass[data-v-af216444]{text-align:center;width:100%;margin:.75rem;height:2rem;font-family:PingFang SC,PingFang SC;font-weight:500;font-size:.875rem;color:#409eff;line-height:16px;background:#f4f8ff;border-radius:4px;border:1px solid #e9eef3}.el-select-dropdown .buttonClass[data-v-af216444]{width:calc(100% - 24px)}.el-transfer[data-v-af216444]{display:flex}[data-v-af216444] .el-transfer__buttons{display:flex;align-items:center}
