
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.flex-c[data-v-963afbeb]{height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center}.flex-c .el-button[data-v-963afbeb]{margin-left:0;margin-top:10px;margin-bottom:10px}[data-v-963afbeb] .bytemd-fullscreen{z-index:2000}
