
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

[data-v-0f497ddf] .el-row .el-col{flex:1;text-align:center}[data-v-0f497ddf] .el-row .el-col .title{text-align:left}[data-v-0f497ddf] .el-row .red{color:red}[data-v-0f497ddf] .el-table__body tr:nth-of-type(1) td:nth-of-type(1){color:red!important}[data-v-0f497ddf] .el-table__body tr:nth-of-type(2) td:nth-of-type(1){color:#bfbdbc!important}[data-v-0f497ddf] .el-table__body tr:nth-of-type(3) td:nth-of-type(1){color:#a25316!important}.page-header[data-v-0f497ddf]{text-align:center}.fx-b[data-v-0f497ddf]{display:flex;align-items:center;justify-content:space-between}.fx-b .page-header[data-v-0f497ddf]{flex:1}.fx-b .page-header[data-v-0f497ddf] .text-2xl{font-size:30px!important;font-weight:700!important}.fx-b div[data-v-0f497ddf]:nth-of-type(2){opacity:.5}
