
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.news[data-v-3a43d23f]{height:100%;width:100%;box-sizing:border-box;display:flex;justify-content:start;align-items:start;flex-direction:column}.news>div[data-v-3a43d23f]{width:100%;margin-top:1rem}.news .type[data-v-3a43d23f]{font-family:PingFang SC,PingFang SC;font-weight:600;font-size:1.125rem;color:#0f0f0f;margin-top:0!important;display:flex;justify-content:star;align-items:center}.news .type span[data-v-3a43d23f]{width:.1875rem;height:1rem;display:inline-block;background-color:#46a1ff;margin-right:.3125rem}.news .news-content[data-v-3a43d23f]{overflow-y:auto;flex:1;font-family:PingFang SC,PingFang SC;padding:0 1rem;color:#0f0f0f}.news .news-content .content[data-v-3a43d23f]{font-weight:600;font-size:1rem;margin-bottom:.5rem}.news .news-content .time[data-v-3a43d23f]{font-weight:400;font-size:.875rem}.news .news-content .footer[data-v-3a43d23f]{margin-top:1rem;display:flex;justify-content:end;align-items:center}
