
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.mail[data-v-bb9a674e]{height:100%;width:100%;box-sizing:border-box;display:flex;justify-content:start;align-items:start;flex-direction:column}.mail .content[data-v-bb9a674e]{width:100%;height:calc(100% - 2.5rem);display:flex;flex-direction:column;justify-content:start;align-items:start}.mail .content .mail-content[data-v-bb9a674e]{overflow-y:auto;flex:1}.mail .content>div[data-v-bb9a674e]{width:100%;margin:.3125rem 0}.mail .content .flex-s[data-v-bb9a674e]{display:flex;justify-content:start;align-items:center}.mail .content .flex-s .title[data-v-bb9a674e]{width:4rem}.mail .content .flex-s .bg[data-v-bb9a674e]{flex:1;padding:.25rem}.mail .content .bg[data-v-bb9a674e]{background-color:#f5f6f7}.mail .footer[data-v-bb9a674e]{width:100%;height:2.5rem;line-height:2.5rem;text-align:right}
